
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase;
}
/* Header Section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-image: linear-gradient(60deg, #4d105c 0%, #af6ad6 100%);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .7s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-decoration: none;
    color: rgb(211, 9, 9);
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(67, 45, 71, 0.24);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .9s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: rgb(98, 135, 146);
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_increase .8s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* End Header Section */
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: purple;
}
.brand_fixed{
    font-size: 3rem;
    text-transform: uppercase;
    color:white;
}
/* Main Section */
#main {
    background-image: url(./images/main.jpg);
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#main::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}
#main .main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#main h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: absolute;
  bottom: 0;
  left: 0;
    color: transparent;
    animation: appear_text .5s ease forwards;
    animation-delay: 1s;
}

#main h1:nth-child(1){
    animation-delay: 1s;
}
#main h1:nth-child(2){
    animation-delay: 2s;
}
#main h1:nth-child(3){
    animation: appear_text_name .5s ease forwards;
    animation-delay: 3s;
}
#main h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: purple;
    animation: appear_text_box 1s ease;
    animation-delay: .5s;
}
#main h1:nth-child(1) span{
    animation-delay: .5s;
}
#main h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#main h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/* End Main Section */

/*Products Section*/

#products .products {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
#products .service-top{
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 20px;
}
#products .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#products .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(./images/cake.jpg);
    background-size: cover;
    margin: 10px 10%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#products .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #4d105c 0%, #af6ad6 100%);
    opacity: .8;
    z-index: -1;
}
#products .service-bottom .icon {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
#products .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#products .service-item p {
    color: white;
    text-align: left;
}

/*End Products Section*/

/* About Section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
}
/* End About Section */

/* Contact Section */
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #4405772c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #4405772c;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* End Contact Section */

/* Footer Section */
#footer{
    background-image: linear-gradient(60deg, #4d105c 0%, #af6ad6 100%);;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;   
    margin-bottom: 30px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color:white;
    font-size: 1.3rem;
}

/* Product Images tyling section */

body{
        background: rgb(255, 254, 254);
    
      }
   
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.img-box{
    width: 300px; 
    margin: 10px;
    transition: all .5s;
    cursor: pointer;
    text-align: justify;
    width: [width of img];
}
.img-box img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.img-box:hover{
    transform: scale(1.05);
}

.window{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background: rgba(5, 5, 5, 0.857);
    transition: all 0.8s;
}
.window.open{
    opacity: 1;
    pointer-events: all;
}
.window img{
    width: 50%;
}
@media(max-width: 1100px){
    .window .full-img{
        width: 80%;
    }
}
/* End images styling */


/* End Footer Section */

/* Keyframes */
@keyframes hamburger_increase{
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.6);
    }
}
@keyframes appear_text_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left:100%;
    }
}
@keyframes appear_text{
    100%{
        color: white;
    }
}
@keyframes appear_text_name{
        100%{
            color: purple;
        }
    }
/* End Keyframes */
/* Media Query For Tablet */
@media only screen and (min-width: 768px){
    h1.section-title{
        font-size: 6rem;
    }
    /* Main Section */
    #main h1{
        font-size: 7rem;
    }
    /* End Main Section */

    /* Products Main Page Section */
    #products .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Products Main Page Section */


    /* About Section */
    #about .about{
        flex-direction: row;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    /* End About Section */

    /* Contact Section */
    #contact .contact{
        flex-direction: column;
        padding: 100px 0px;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item{
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End Contact Section */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width:1200px){
    /* Header Section */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-image: none;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.6rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /* End Header Section */
    #products .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* End Media Query For Desktop */